<div class="row" ng-controller="ImageController as imageCtrl">
    <div class="col-sm-offset-11 col-sm-1">
        <a class="btn" ng-click="imageCtrl.download()">
            <span class="glyphicon glyphicon-repeat"></span>
        </a>
    </div>
    <div id="image" class="col-sm-3 img-responsive" ng-repeat="thumbnail in imageCtrl.getThumbnails()">
        <a class="btn corner" ng-click="imageCtrl.remove(thumbnail.name)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a href="{{thumbnail.url}}" class="thumbnail">
            <img ng-src="{{thumbnail.url}}" alt="image">
        </a>
    </div>

    <div class="col-sm-3 img-responsive">
        <a ui-sref="app.album.addImage" class="btn btn-default thumbnail">
            <img src="img/add.png" alt="add">
        </a>
    </div>
</div>