<div class="row" ng-controller="AlbumController as albumCtrl">
    <div class="col-sm-offset-11 col-sm-1">
        <a class="btn" ng-click="albumCtrl.download()">
            <span class="glyphicon glyphicon-repeat"></span>
        </a>
    </div>
    <div class="col-sm-3 img-responsive" ng-repeat="userAlbum in albumCtrl.getAlbums()">
        <a class="btn corner" ng-click="albumCtrl.remove(userAlbum)"><span
                class="glyphicon glyphicon-remove"></span></a>
        <figure id="album">
            <a ui-sref="app.album" class="thumbnail sized" ng-click="albumCtrl.save(userAlbum)">
                <img src="img/album.png" alt="album">
            </a>
            <figcaption>{{userAlbum}}</figcaption>
        </figure>
    </div>

    <div class="col-sm-3 img-responsive">
        <a ui-sref="app.albums.addAlbum" class="btn btn-default thumbnail sized">
            <img src="img/add.png" alt="add">
        </a>
    </div>
</div>