<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photo loader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container fill">
    <!--<div id="api" class="panel-group col-sm-6"-->
    <!--ng-controller="ImageController as imageCtrl">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<h4 class="panel-title">-->
    <!--<a data-toggle="collapse" data-parent="#photoServerDemoGroup" href="#uploadImage">-->
    <!--Upload Image-->
    <!--</a>-->
    <!--</h4>-->
    <!--</div>-->
    <!--<div id="uploadImage" class="panel-collapse collapse">-->
    <!--<div class="panel-body">-->
    <!--<form class="form-horizontal" name="uploadForm"-->
    <!--ng-submit="imageCtrl.upload()" novalidate>-->

    <!--<div class="input-group">-->
    <!--<label for="upload.userId" class="input-group-addon">User id: </label>-->
    <!--<input id="upload.userId" class="form-control" ng-model="imageCtrl.userId" type="text"-->
    <!--required>-->
    <!--</div>-->

    <!--<div class="input-group">-->
    <!--<label for="upload.album" class="input-group-addon">Album: </label>-->
    <!--<input id="upload.album" class="form-control" ng-model="imageCtrl.album" type="text"-->
    <!--required>-->
    <!--</div>-->

    <!--<div class="input-group">-->
    <!--<span class="input-group-btn">-->
    <!--<span class="btn btn-primary btn-file">-->
    <!--<input id="upload.imageSelector" file-input="files" accept="image/*"-->
    <!--type="file" required>Select-->
    <!--</span>-->
    <!--</span>-->
    <!--<input id="upload.fileName" type="text" class="form-control" readonly>-->
    <!--</div>-->

    <!--<button class="btn btn-primary col-sm-offset-5 col-sm-2" type="submit">Submit</button>-->

    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div id="preview" class="folder">
        <div ui-view="content"></div>
    <div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular-bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/selectFile.js"></script>
</body>
</html>